

        <app-header></app-header>
<div class="page-content page-container" id="page-content">
  <div class="padding margin">
    <div class="row container d-flex">
      <h1>ALL USERS DETAILS</h1>
      
      <div class="col-xl-12 col-md-12 contactBoxes">
        <div class="row">
          <div class="col-md-6" *ngFor="let a of allUsers">
            <div class="card user-card-full">
              <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                  <div class="card-block text-center text-white">
                    <div class="m-b-25">
                      <img
                        src="https://img.icons8.com/bubbles/100/000000/user.png"
                        class="img-radius"
                        alt="User-Profile-Image"
                      />
                    </div>
                    <h6 class="f-w-600">{{ a.name }}</h6>
                    <p>{{ a.role }}</p>
                    <i
                      class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                    ></i>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="card-block">
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">
                      Your Information
                    </h6>
                    <div class="row">
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Email</p>
                        <h6 class="text-muted f-w-400">{{ a.email }}</h6>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Phone</p>
                        <h6 class="text-muted f-w-400">{{ a.mobile }}</h6>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Address</p>
                        <h6 class="text-muted f-w-400">{{ a.address }}</h6>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">City</p>
                        <h6 class="text-muted f-w-400">{{ a.city }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
