<app-header></app-header>
<div class="page-content page-container" id="page-content">
  <div class="padding margin">
    <div class="row container d-flex">
   
      <h1 class="text-underline">View Added Movies</h1>
      <div class="col-xl-12 col-md-12 contactBoxes">
        <div class="row ssssss" *ngIf="allAddedMovies.length==0">
          <div class="col-md-12 h-50">
          <p class="empty-area"> No movies added by you yet.</p>
        </div>
        </div>
        <div class="row vvv" *ngIf="allAddedMovies.length>0">
          <div class="col-md-6" *ngFor="let a of allAddedMovies">
            <div class="card user-card-full">
              <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                  <div class="card-block text-center text-white">
                    <div class="m-b-25">
                      <img
                        src="assets/images/no-poster-available.jpg"
                        class="img-radius"
                        alt="User-Profile-Image"
                        height="100px"
                        width="100px"
                      />
                    </div>
                    <h6 class="f-w-600">{{ a.movieName }}</h6>

                    <i
                      class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                    ></i>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="card-block">
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Movie Info</h6>

                    <div class="row">
                      <div class="row b-b-default">
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Description</p>
                          <h6 class="text-muted f-w-400">
                            {{ a.description }}
                          </h6>
                        </div>
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Category</p>
                          <h6 class="text-muted f-w-400">{{ a.category }}</h6>
                        </div>
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Ratings</p>
                          <h6 class="text-muted f-w-400">{{ a.ratings }}</h6>
                        </div>
                        <div class="col-sm-6">
                          <p class="m-b-10 f-w-600">Trending</p>
                          <h6 class="text-muted f-w-400">In Cinemas</h6>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row m-t-10">
                      <div class="col-sm-6">
                        <button class="btn btn-sm btn-danger" (click)="deleteMovie(a)">Delete</button>
                      </div>
                      <div class="col-sm-6">
                        <button class="btn btn-sm btn-danger" [routerLink]="['/admin/update-movie',a.movieId]"> Update</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
